[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
selenium = "*"
chromedriver-install = "*"
requests-html = "*"
scrapy = "*"
psycopg2 = "*"
linkedin-api = "~=2.0.0a"

[dev-packages]

[requires]
python_version = "3.10"
